header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.indice-container {
  padding: 2rem 0;
}
.table-center {
  text-align: center;
}
.mt {
  margin-top: 2rem;
}
.mb {
  margin-bottom: 2rem;
}
.upper {
  text-transform: uppercase;
}
.secaob p {
  margin: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

nav ul {
  list-style: none;
}

p {
  color: #455A64;
  text-align: justify;
}

.table thead tr th {
  height: 65px;
}

.dark-blue {
  background: #FFF;
  background-color: rgba(24, 36, 63, 1) !important;
  color: #FFF;
  text-align: center;
  height: unset !important;
  line-height: 2.5;
  width: 33%;
}
.medium-blue {
  background: #FFF;
  background-color: rgba(24, 36, 63, 0.8) !important;
  color: #FFF;
  text-align: center;
  height: unset !important;
  line-height: 2.5;
  width: 33%;
}
.light-blue {
  background: #FFF;
  background-color: rgba(24, 36, 63, 0.5) !important;
  color: #FFF;
  text-align: center;
  height: unset !important;
  line-height: 2.5;
  width: 33%;
}

.dark-gray {
  background: #FFF;
  background-color: rgba( 237, 237, 237, 1) !important;
  color: #414141;
  padding: 2rem 1.5rem !important;
  text-align: center;
}
.medium-gray {
  background: #FFF;
  background-color: rgba( 237, 237, 237, 0.8) !important;
  color: #414141;
  padding: 2rem 1.5rem !important;
  text-align: center;
}
.light-gray {
  background: #FFF;
  background-color: rgba( 237, 237, 237, 0.5) !important;
  color: #414141;
  padding: 2rem 1.5rem !important;
  text-align: center;
}